# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

# React Skeleton ES5
'.source.js':
  'react skeleton':
    'prefix': 'rjs'
    'body': """
    var React = require("react");
    $2
    var $1 = React.createClass({
      render: function() {
        return (
          $3
        )
      }
    });

    module.exports = $1;
    """

'.source.js':
  'jsx div with className':
    'prefix': 'rdiv'
    'body': '<div className="${1:}"></div>'
